img {
    height: 70vh;
    width: 100%;
}

.container-fluid {
    width: 100vw;
    overflow:hidden;
    display:block;
    height: 800px;
    margin: 0px;
}

.carousel-caption {
    bottom: 70px;
}

.carousel-indicators li {
    bottom: 35px !important;
}

.carousel-bg {
    background-color: black;
}

// .carousel-indicators {
//     position: absolute;
//     bottom: 10px !important;
// }

// #vid0 {
// }

#vid1 {
    // margin-top: -10px;
    margin-left: -20px;
}

#vid2 {
    // margin-top: -40px;
    margin-left: -10px;
}