<ngb-carousel *ngIf="images" class="carousel-bg" [showNavigationArrows]="false">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="container-fluid w-100" id="vid0">
                <video autoplay="autoplay" width="1920" height="1080" [muted]="true" loop="loop">
                    <source src="../../assets/background/beer_bubble_video_background.mp4" type="video/mp4">
                </video>
            </div>
            <p style="font-size: 10px; color: #ffffff80">Free Broll provided by <a target="_blank"
                href="https://www.videvo.net">Videvo</a></p>
        </div>
        <div class="carousel-caption">
            <h3><a style="color: #fed136;" routerLink="/ninkasi/cbrec">Ninkasi Beer Recommender</a></h3>
            <p style="color: #fed136">Two recommender systems built by two different approaches.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="container-fluid" id="vid1">
                <video autoplay="autoplay" [muted]="true" loop="loop">
                    <source src="../../assets/background/text_video_background.mp4" type="video/mp4">
                </video>
            </div>
            <p style="font-size: 10px; color: #ffffff80">Free Broll provided by <a target="_blank"
                    href="http://videezy.com">Videezy</a></p>
        </div>
        <div class="carousel-caption">
            <h3><a style="color: #fed136;" routerLink="/ninkasi/cbrec">Content-Based Algorithm</a></h3>
            <p style="color: #fed136">Recommender system built from 280,000 customer reviews.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <div class="container-fluid" id="vid2">
                <video  autoplay="autoplay" [muted]="true" loop="loop">
                    <source src="../../assets/background/network_video_background.mp4" type="video/mp4">
                </video>
            </div>
            <p style="font-size: 10px; color: #ffffff80">Free Broll provided by <a target="_blank"
                    href="http://videezy.com">Videezy</a></p>
        </div>
        <div class="carousel-caption">
            <h3><a style="color: #fed136;" routerLink="/ninkasi/cfrec">Collaborative Filtering Algorithm</a></h3>
            <p style="color: #fed136">Recommender system built from 17,000 customer ratings.</p>
        </div>
    </ng-template>

</ngb-carousel>