img {
    height: 70vh;
    width: 100%;
}

.container-fluid {
    width: 100vw;
    overflow:hidden;
    display:block;
    height: 800px;
    margin: 0px;
}

.carousel-bg {
    background-color: black;
}

// .carousel-indicators {
//     position: absolute;
//     bottom: 10px !important;
// }

#vid1 {
    margin-top: -80px;
    margin-left: -20px;
}

#vid2 {
    margin-top: -80px;
    margin-left: -10px;
}