<nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-black">
    <div class="container-fluid">
        <!-- <div class="navbar-header"> -->
        <a class="navbar-brand" [routerLink]="[ '/home' ]">
            Ninkasi Beer Recommender
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarSupportedContent"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <!-- <span class="icon-bar"></span>
                <span class="icon-bar"></span> -->
        </button>

        <!-- </div> -->

        <div id="navbarSupportedContent" class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="#intro" routerLink="/intro" pageScroll [pageScrollDuration]="300">
                        INTRO
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="#workflow" routerLink="/workflow" pageScroll [pageScrollDuration]="300">
                        WORKFLOW
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="#team" [routerLink]="[ '/team' ]" pageScroll [pageScrollDuration]="300">
                        THE TEAM
                    </a>
                </li>
                <li ngbDropdown routerLinkActive="active">
                    <a ngbDropdownToggle class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        NINKASI APP
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown">
                        <a ngbDropdownItem [routerLink]="[ '/ninkasi' ]">ABOUT</a>
                        <a ngbDropdownItem [routerLink]="[ '/cbrec' ]">SIMILAR TASTE</a>
                        <a ngbDropdownItem [routerLink]="[ '/cfrec' ]">SIMILAR PEOPLE</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>