<nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-black">
    <div class="container-fluid">
        <!-- <div class="navbar-header"> -->
        <a class="navbar-brand" [routerLink]="[ '/home' ]">
            Ninkasi Beer Recommender
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" data-target="#navbarSupportedContent"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- </div> -->

        <div id="navbarSupportedContent" class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ninkasi/cbrec">
                        SIMILAR TASTE
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/ninkasi/cfrec">
                        SIMILAR PEOPLE
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/about">
                        ABOUT
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/contact">
                        CONTACT
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>