#footer {
  position: relative;
}

#footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#footer .footer-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

#footer .footer-widget p {
  margin-bottom: 15px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

#footer h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}

#footer .footer-list {
  padding: 0;
  margin: 0;
}

#footer .footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}




.footer .copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
.footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

#footer .copyright .block {
  display: block;
}