// .section-bg-color {
// 	background: #eee;
// }

.cbrec-container {
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2)), url('../../../assets/background/beerreview.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	// opacity: 0.5;
}